@import url("https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap");
/* font-family: "Chelsea Market", system-ui; */
@import url("https://fonts.googleapis.com/css2?family=Bitcount+Grid+Double:wght@100..900&display=swap");
/*font-family: "Bitcount Grid Double", system-ui; */
@import url("https://fonts.googleapis.com/css2?family=Iosevka+Charon:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
/*     font-family: "Iosevka Charon", monospace; */
@import url("https://fonts.googleapis.com/css2?family=Bitcount+Single:wght@100..900&display=swap");
/* font-family: "Bitcount Single", system-ui; */
@import url("https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap");
/* font-family: "Lobster Two", sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* font-family: "Prompt", sans-serif; */



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    width: 100%;
    background-color: rgb(9, 19, 37);
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
}

header {
    border: 2px solid black;
    background-color: rgb(9, 19, 37);
    box-shadow: 0px 0px 15px #372770;
    padding: 15px;
    position: fixed;
    width: 100%;
    z-index: 100;
}

/* ==============NAVBAR============== */
.navbar {
    background: rgb(9, 19, 37);
    height: 50px;
    display: flex;
    border-radius: 20px;
}

.navbar ul {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
}

.nav_contant {
    display: inline;
    text-decoration: none;
    display: flex;
    margin-right: 15px;
    padding: 0px;
    width: 70px;
    justify-content: center;
    align-items: center;
}

.notLogo {
    position: relative;
}

/* ==============NAVBAR HOVER EFFECT============== */
.notLogo a::after {
    content: "";
    height: 5px;
    width: 0;
    position: absolute;
    background-color: rgb(115, 84, 241);
    bottom: 0;
    left: 0;
    transition: 0.2s ease-out;
}

.notLogo a::before {
    content: "";
    height: 5px;
    width: 100%;
    position: absolute;
    background-color: rgb(115, 84, 241);
    bottom: 0;
    transition: 0.2s ease-out;
    right: 0;
}

.notLogo a:hover::after {
    width: 100%;
    height: 60px;
    background-color: rgba(115, 84, 241, 0.3);
    border-radius: 10px;
    color: white;
}

.notLogo a:hover::before {
    width: 100%;
    height: 60px;
    background-color: rgba(115, 84, 241, 0.3);
    border-radius: 10px;
    color: white;
}

.nav_contant a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    align-content: center;
    font-size: 20px;
    font-family: "Bebas Neue", sans-serif;
    height: fit-content;
}

.notLogo a {
    color: rgba(255, 255, 255, 0.5);
}

.notLogo a:hover {
    color: rgba(255, 255, 255, 1);
}

/* ==============NAVBAR LOGO============== */
.logo-Spam {
    position: relative;
    top: 6px;
}

.navbar ul li:first-child {
    flex-grow: 2;
    margin-left: 20px;
    justify-content: start;
}

.navbar ul li:first-child a {
    font-family: "Black Ops One", system-ui;
    font-size: 30px;
}

.navbar ul li:first-child a span {
    color: rgb(111, 81, 215);
    font-size: 18px;
}

.open-arrow:hover {
    transform: scale(1.2);
    cursor: pointer;
}

/* ==============HERO SECTION============== */
.home {
    padding: 10px;
    background-image: linear-gradient(to bottom, rgb(2, 4, 23), rgb(39, 23, 96));
}

.hero {
    max-width: 1100px;
    height: fit-content;
    width: 100%;
    background-size: cover;
    display: flex;
    margin: 0 auto;
}

/* ==============HERO TEXT============== */
.hero-text {
    width: 100%;
    height: 100%;
    display: flex;
}

.hero-text1 {
    margin: 40px 10px 30px 40px;
}

.hero-text1 span {
    font-size: 14px;
    color: white;
    border-radius: 20px;
    margin: 5px;
    padding: 10px;
    background-color: rgb(23, 31, 51);
    font-family: "Chelsea Market", system-ui;
    box-shadow: 0px 0px 15px #6047bd;
}

.hero-text2 {
    font-family: "Bitcount Single", system-ui;
    color: white;
    font-size: 46px;
    margin: 10px 10px 0px 40px;
}

.hero-text2-name1 {
    font-family: "Bitcount Grid Double", system-ui;
    color: rgb(115, 84, 241);
    font-size: 70px;
    width: fit-content;
    position: relative;
    top: 6px;
}

.hero-text2-name2 {
    font-size: 22px;
    font-family: "Bitcount Single", system-ui;
    color: white;
    position: relative;
    left: 270px;
    width: inherit;
}

.hero-text3 {
    font-family: "Roboto", sans-serif;
    font-weight: 200;
    color: white;
    margin: 12px 0px 0px 40px;
    padding: 3px;
    font-size: 20px;
}

/* ==============HERO TAGS============== */

.hero-tags {
    display: flex;
    flex-wrap: wrap;
    width: fit-content;
    height: fit-content;
    margin: 60px 40px;
}

/* ==============HERO TAG============== */
.hero-tag {
    width: fit-content;
    height: fit-content;
    margin: 20px 0 0 20px;
    border-radius: 30px;
    background-image: linear-gradient(to right, #4845ff, #6b2ef8);
    padding: 15px;
    box-shadow: 0px 0px 9px #6047bd;
}

.hero-tag span {
    font-size: 16px;
    font-family: "Chelsea Market", system-ui;
    color: white;
    height: inherit;
    width: inherit;
}

/* ==============HERO IMAGE============== */

.hero-image {
    width: 50%;
    height: 100%;
    overflow: hidden;
    align-self: flex-end;
    position: relative;
    top: 14px;
}

.hero-image img {
    width: 340px;
    height: fit-content;
}

/* ==============MAIN SECTION============== */
main {
    flex: 1;
    width: 100%;
    margin-top: 82px;
    background: linear-gradient(90deg, #050816, #0b1025);
}

.aboutme {
    max-width: 1100px;
    margin: 0px auto;
    padding: 15px;
    color: white;
    font-family: "Lobster Two", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .aboutme-header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 25px;
        padding: 10px;
        position: relative;


        h1 {
            font-family: "Bitcount Single", system-ui;
            font-size: 2.8rem;
        }

        p {
            font-size: 1.3rem;
        }
    }
}

.aboutme-header::before {
    content: '';
    background-color: #6f51d6;
    height: 2px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    box-shadow: 0px 0px 5px;
}

.about-container {
    display: grid;
    grid-template-rows: 1fr 2fr;
    gap: 25px;
}

/* ==============JURNEY SECTION============== */
.aboutme-jurney {
    border: 2px solid #1b1c3c;
    border-radius: 20px;
    padding: 15px;
    position: relative;
    border: 2px solid rgba(0, 242, 255, 0.3);
    z-index: 1;
}

.aboutme-jurney::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(115, 84, 241, 0.1);
    border-radius: inherit;
    z-index: -1;
}

.aboutme-jurney-header {
    margin: 5px;
    padding: 10px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    position: relative;

    img {
        border-radius: 100%;
        border: 2px solid #1b1c3c;
        height: 55px;
        margin: 10px;
        margin-right: 20px;
        padding: 5px;
        box-shadow: 0px 0px 10px #7d42fa;
        filter: drop-shadow(0 0 15px #7d42fa);
    }

    h2 {
        font-family: "Chelsea Market", system-ui;
        font-size: 2rem;
    }
}

.aboutme-jurney-header::before {
    content: '';
    background-color: #6f51d6;
    height: 2px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    box-shadow: 0px 0px 10px;
}

.aboutme-jurney-content {
    align-items: center;
    margin: 10px;
    padding: 5px;

    h2 {
        font-family: "Black Ops One", system-ui;
        position: relative;
        display: flex;
    }

    h2::before {
        content: '';
        background-color: #6f51d6;
        border-radius: 100%;
        height: 8px;
        width: 8px;
        position: absolute;
        top: 10px;
        left: -15px;

    }
}

.aboutme-jurney-para {
    p {
        letter-spacing: 2px;
        line-height: 1.5rem;
        font-size: 20px;
        margin: 15px;
    }
}

/* ==============ABOUTME CARDS SECTION============== */

.aboutme-cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* grid-column: span 2; */
    gap: 25px;
}

.aboutme-card {
    border: 2px solid #1b1c3c;
    border-radius: 20px;
    padding: 15px;
    position: relative;
    overflow: hidden;
    border: 2px solid rgba(0, 242, 255, 0.3);
    z-index: 1;
}

.aboutme-card::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(115, 84, 241, 0.1);
    border-radius: inherit;
    z-index: -1;
}

.aboutme-card-header {
    padding: 10px;
    display: flex;
    align-items: center;
    position: relative;
    padding: 15px;

    img {
        border-radius: 30%;
        border: 2px solid #1b1c3c;
        height: 45px;
        padding: 5px;
        margin: 0px 18px 0 5px;
        box-shadow: 0px 0px 10px #7d42fa;
        filter: drop-shadow(0 0 15px #7d42fa);
    }

    h2 {
        font-family: "Chelsea Market", system-ui;
        font-size: 20px;
    }

    p {
        color: rgb(140, 255, 255);
    }
}

.aboutme-card-header::before {
    content: '';
    background-color: #6f51d6;
    height: 2px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    box-shadow: 0px 0px 10px;
}

.aboutme-card-list {
    ul {
        li {
            margin: 8px;
            letter-spacing: 2px;
        }
    }

    ;
}

.tech-stack-container {
    display: flex;


    .tech-stack-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 20px 20px 0 20px;
        padding: 10px;
        border: 2px solid rgba(0, 242, 255, 0.3);
        background-color: rgba(115, 84, 241, 0.1);
        border-radius: 20px;
        width: 100%;

        img {
            height: 40px;
        }

        h5 {
            font-family: "Chelsea Market", system-ui;
            margin-top: 10px;
            padding: 10px;
            position: relative;
        }

        h5::before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0px;
            background-color: #6f51d6;
            width: 0px;
            height: 3px;
            transition: .3s ease-in-out;
        }


    }
}

.tech-stack-item:hover {
    h5::before {
        width: 100%;
    }
}

/* ==============PROJECT FEATURE============== */
.featured-projects-container {
    background-color: rgb(0, 0, 0);

}

.featured-projects {
    background-color: rgb(77, 218, 105);
    max-width: 1100px;
    margin: 0 auto;
    position: relative;
    min-height: 550px;
}

#scan-line {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#bezel {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.featured-projects-content {
    font-family: "Prompt", sans-serif;
    color: rgb(153, 255, 0);
    position: absolute;
    /* margin: 100px; */
    width: 100%;
    height: 100%;
    padding: 45px;

    .projects-content-header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        width: 100%;
        margin: 10px;
        padding: 5px;
        font-size: 25px;
        font-family: "Bitcount Single", system-ui;

    }

    .projects-content-header::before {
        content: '';
        background-color: greenyellow;
        height: 2px;
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        box-shadow: 0px 0px 10px;
    }

}

.projects-content-body {
    align-self: flex-start;
}

.projects-content-help {
    input {
        border: none;
        outline: none;
        background-color: transparent;
        color: rgb(153, 255, 0);
        font-family: "Prompt", sans-serif;
    }


}









/* ==============FOOTER============== */

footer {
    background-color: rgb(14, 14, 12);
    color: white;
    font-family: "Chelsea Market", system-ui;
}

/* ==============CONNECT SECTION============== */
.connect-sec {

    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}

.connect-img {
    height: 100px;
    background-color: #6047bd;
    padding: 20px;
    border-radius: 100%;
    box-shadow: 0px 0px 70px #7355e0;
}

.connect-text {
    h1 {
        font-size: 50px;
    }

    h2 {
        margin-left: 5px;
    }

    p {
        margin: 20px 0px 0px 0px;
        letter-spacing: 1px;
        line-height: 1.6rem;
        width: 420px;
    }
}

.connect-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.connect-link {
    height: 40px;
    margin: 20px;
    border-radius: 10px;
}

.link-connect {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.link-connect::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #6047bd;
    height: 5px;
    width: 0;
    transition: 0.2s ease-in-out;
}

.link-connect:hover::after {
    width: 100%;
}

/* ==============FOOTER SECTION============== */
.footer-sec {
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgba(255, 255, 255, 0.5);
    font-size: 15px;
    padding: 15px;

    button {
        background: rgb(14, 14, 12);
        border: none;
        height: max-content;
        width: max-content;

        img {
            height: 40px;
        }
    }
}